html {
    display: inline-block;
}
body {
    background-color: #fff8ed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-main{
    width: 900px;
    margin: auto;
    background-color: #ffefd5;
    text-align: center;
    padding: 10px;
    border: 2px dashed #fb7d14;
    border-radius: 20px;
}

.nav-list {
    display: inline-block;
}

img {
    width: 550px;
    margin: auto;
    border: 2px dashed #fb7d14;
    border-radius: 20px;
}

ul,
ol {
    list-style: none;
    padding: 0px 10px;

}
h1 {
    color: #7d3111;
}

.list-container {
    display: inline-block;
    text-align: left;
    padding: 25px;
    background-color:#fec073 ;
    border-radius: 20px;
}